/** Globals **/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 	margin: 0; 	padding: 0; 	border: 0; 	font-size: 100%; 	font: inherit; 	vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 	display: block; } body { 	line-height: 1; } ol, ul { 	list-style: none; } blockquote, q { 	quotes: none; } blockquote:before, blockquote:after, q:before, q:after { 	content: ''; 	content: none; } table { 	border-collapse: collapse; 	border-spacing: 0; }

/** Structure **/

h1, h2, h3, h4, h5, h6, p {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	line-height: 150%;
	margin-bottom: 25px;
}

.clearfloat {
	clear: both;
	margin: 0 auto;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

	.container h2	{
		margin-bottom: 0;
	}

.container	p:first-child	{
	margin-top: 25px;
}
			
.flt-lft img,
.flt-lft div {
 	display: inline;
	float: left;
}

	.flt-lft h5,
	.flt-lft h2	{
		display: block;
		margin-bottom: 0;
	}
	
	.flt-lft	p:first-child	{
		display: inline;
	}
	
.flt-rght	{
	float: right;
}

#footer	{
	background-color: #655643;
	color: #fff;
	font-size: 12px;
	height: 30px;
	margin: 50px 0 25px 0;
	text-align: center;
}

	#footer	p	{
		padding-top: 5px;
	}

h1 {
	font-size: 36px;
	font-weight: bold;
}

h2 {
	color: #80BCA3;
	font-size: 24px;
	font-weight: bold;
}

h6 {
	font-size: 14px;
}

hr	{
	background-color: #E6AC27;
	border: 0;
	height: 2px;
	margin-bottom: 50px;
	width: 100%;
}

.flt-lft	p	{
	padding-top: 25px;
}

#header	{
	background-color: #BF4D28;
	color: #fff;
	height: 100px;
	margin: 25px 0 25px 0;
}
	#header h1 {
		margin-bottom: 0;
		padding-top: 30px;
	}
	
	#header h6 {
		padding-top: 7px;
	}
	
	#header h1, #header h6 {
		line-height: 100%;
	}

img	{
	padding: 0 25px 25px 0;
	width: 72%;
}

.main-info	h2,
.main-info	h5	{
	display: block;
	margin-bottom: 0;
}


/** Media Queries **/

/* 768 */
@media only screen and 
(max-width: 768px){
	
	img	{
		align: center;
		display: block;
		margin: -25 auto;
		padding: 0 25px 25px 0;
		position: relative;
		width: 100%;
	}
	
	.container	{
		padding: 25px;
	}
	
	#footer	{
		margin: 0 0 25px 0;
	}	
	
	#header	{
		background-color: #BF4D28;
		color: #fff;
		height: 100px;
		margin: 25px 0 25px 0;
	}
	
		#header h1 {
			padding-top: 5px;
		}
	
	img	{
		margin: -25px 0 0 0;
	}

	hr	{
		margin: -25px 0 0 0;
	}
	
}

/* 480 */
@media only screen and 
(max-width: 480px){
	
	
	
	#header	h1	{
		font-size: 26px;
		line-height: 125%;
		margin-top: -10px;
	}
	
}